#spot-container {
  display: flex;
  justify-content: space-evenly;
}

#img-holder {
  display: flex;
  justify-content: center;

  max-height: 59vh;
}

#spot-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-div {
  display: flex;
  justify-content: flex-start;
}

.img-container {
  width: 400px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#description {
  /* line-height: 10px; */

  margin: 0px 20px 0px;
  width: 150px;
}

#spot-name {
  padding: 20px;
}

#previewImage-container {
  position: relative;
  right: 1vw;
}

#previewImage {
  border: 1px solid black;
  border-radius: 8px;

  min-width: 600px;
  max-width: 600px;

  min-height: 410px;
  max-height: 410px;

  position: relative;
}

#smaller-imgs-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly;
  width: 22vw;
  height: 40vh;
  max-height: auto;
  position: relative;
  right: 1vw;
  margin: 10px; */

    border: 1px solid black;
    border-radius: 8px;

    min-width: 400px;
    max-width: 400px;

    min-height: 310px;
    max-height: 310px;

    /* position: relative; */

  /* box-sizing: content-box; */
}

/* .img-container{
  margin: 20px;
} */
.spot-img {
  height: 20vh;
  width: 30vw;
  position: relative;
  /* margin: 40px; */
  /* margin-bottom: 10px; */
}
