img {
  width: 250px;
  height: 250px;
  border-radius: 6px;
}

#spot {
  border: rgba(0, 51, 255, 0.491);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 3px 2px rgba(45, 46, 45, 0.5);
}

#spot:hover {
  box-shadow: 9px 12px rgba(34, 105, 34, 0.5);
}

::placeholder {
  color: rgb(106, 105, 105);
}
