.main-container {
  display: grid;
  grid: auto;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  box-sizing: content-box;
  min-width: 900px;
  max-width: 900px;
  right: 4.5vw;
  padding-bottom: 80px;
}

.listings {
  text-align: left;
  line-height: 10px;
  padding: 20px;
  height: 300px;
  width: 150px;
  margin: 15px;
}

#images {
  border-radius: 10px;
  width: 300px;
  height: 220px;
  border: 1px solid rgb(70, 70, 70);
}

.details {
  line-height: 3px;
}
