.main-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;
}

.listings_item {
  border: 1px double rgba(47, 47, 47, 0.3);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  /* padding: 0px 2px 0px; */
}

#images {
  /* border-radius: 10px; */
  width: 350px;
  height: 220px;
}

.details {
  line-height: 1px;
}

.inner-div {
  display: grid;
  grid-template-columns: 200px repeat(auto-fill, 100px);
}

#rating-para {
  padding-left: 50px;
}

#address-para {
  padding-left: 4px;
}
#price {
  padding-left: 6px;
}
